<footer class="footer">
  <div class="container footer-container">
    <div class="footer-info">
      <div class="footer-logo">
        <span class="logo-text">ng-text-highlight</span>
      </div>
      <p class="footer-tagline">
        A lightweight Angular component to highlight search keywords within
        text.
      </p>
      <div class="footer-links">
        <a
          href="https://github.com/supriyakundu99/ng-text-highlight"
          target="_blank"
          >GitHub</a
        >
        <a
          href="https://www.npmjs.com/package/ng-text-highlight"
          target="_blank"
          >npm</a
        >
        <a href="https://ng-text-highlight.web.app/" target="_blank"
          >Demo Site</a
        >
      </div>
    </div>

    <div class="footer-attribution">
      <div class="npm-info">
        <div class="npm-badge">
          <svg viewBox="0 0 780 250" xmlns="http://www.w3.org/2000/svg">
            <path
              fill="var(--color-error-400)"
              d="M240,250h100v-50h100V0H240V250z M340,50h50v100h-50V50z M480,0v200h100V50h50v150h50V50h50v150h50V0H480z M0,200h100V50h50v150h50V0H0V200z"
            ></path>
          </svg>
        </div>
        <div class="npm-text">
          <div>Available on npm</div>
          <a
            href="https://www.npmjs.com/package/ng-text-highlight"
            target="_blank"
            >ng-text-highlight</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <p>
        Released under the MIT License. © {{ currentYear }} All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
