<header [ngClass]="{ scrolled: isScrolled }">
  <div class="container header-container">
    <div class="logo">
      <img src="assets/icon.svg" alt="ng-text-highlight logo" width="50" height="50">
      <span class="logo-text">ng-text-highlight</span>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#demo">Demo</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#usage">Usage</a></li>
        <li><a href="#styles">Styles</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <a
        href="https://github.com/supriyakundu99/ng-text-highlight"
        target="_blank"
        class="btn btn-secondary"
        >GitHub</a
      >
      <a
        href="https://www.npmjs.com/package/ng-text-highlight"
        target="_blank"
        class="btn btn-primary"
        >npm</a
      >
    </div>
  </div>
</header>
