<h1>{{ title }}</h1>
<hr>

<div>
  <label for="textbox">Insert Sample Text:</label><br>
  <textarea #textVal name="textbox" id="" cols="80" rows="10" [(ngModel)]="sampleText"></textarea><br><br>
</div>

<div>
  <label for="searchBox">Search Text: </label>
  <input #searcheText name="searchBox" type="text" [(ngModel)]="sampleSearchText" size="50px" value="et dolore magna">
</div>

<hr>

<div>
  <h4>Highlighted Text: </h4>
  <app-text-highlighter [textToHighlight]="sampleText" [searchKeywords]="sampleSearchText.split(' ')"></app-text-highlighter>
</div>
