<h1>{{ title }}</h1>
<hr>

<div>
  <label for="textbox">Insert Sample Text:</label><br>
  <textarea #textVal name="textbox" id="" cols="80" rows="10" [(ngModel)]="sampleText"></textarea><br><br>
</div>

<div>
  <label for="searchBox">Search Text: </label>
  <input #searchText name="searchBox" type="text" [(ngModel)]="sampleSearchText" size="50px" value="et dolore magna">
</div>

<hr>

<div>
  <h4>Highlighted Text: </h4>
  <ng-text-highlight [fullText]="sampleText" [keywords]="sampleSearchText.split(' ')"></ng-text-highlight>
</div>
